.contenedor-inicio{
    display: flex;
    width: 100%;
    align-items: center;
}
.presentacion{
    /*margin-left: 1em;*/
    width: 100%;
    background-color: #f59b9b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.presentacion div{
    width: 100%;
    text-align: center;
}
.presentacion p{
    font-size: 1.5em;
    font-weight: 500;
}
