.contenedor-inicio{
    display: flex;
    width: 100%;
    align-items: center;
}
.presentacion{
    /*margin-left: 1em;*/
    width: 100%;
    background-color: #f59b9b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.presentacion div{
    width: 100%;
    text-align: center;
}
.presentacion h2{
    font-size: 5rem;
}
.presentacion h3{
    font-size: 1.5rem;
}
.presentacion p{
    font-size: 1.5em;
    font-weight: 500;
}
.canvas-inicio{
}
.canvas-contenedor{
    height: 100%;
    background-color: #0a0802;
    display: flex;
    justify-content: center;
    align-items: center;
}