.contenedor-skills{
    padding-top: 1rem;
    margin:0px ;
}
.padre-skills{
    width: 100%;
    margin: 0;
    height: 100vh;
}
.cont-skills{
    padding: 7rem;
    height: 100vh;
    margin: 0;
    width: 50%;
    background-color: #FEE9B7;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    width: auto;
}
.skills div{
    position: relative;
    margin-right: 1.4rem;
}
.skills div span{
    position: absolute;
    text-align: center;
    left: 20%;
    bottom: -3rem;
    font-size: 1.3rem;
}
.contenedor-img-skills{
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
    margin-left: 0.7rem;
    margin-top: 3.2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 0px black;
    overflow: hidden;
    transition: all 0.1s ease-in;
    border: 1px solid black;
    padding: 5px;
}
.contenedor-img-skills:hover{
    box-shadow: 0px 2px 0px black;
    transform: translateY(6%);
}
.contenedor-img-skills img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.sobre-mi{
    padding: 7rem 2rem;
    width: 50%;
    background-color: #0a0802;
    color: white;
}
.sobre-mi p{
    margin: 5rem 0px;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 2.2rem;
}

@media (max-width : 1000px){
    .cont-skills h2{
        text-align: center;
    }
    .padre-skills{
        justify-content: center;
        display: flex;
    }
    .skills{
        display: flex;
        justify-content: center;
    }
    .cont-skills{
        width: 100%;
        padding: 4rem 0;
    }
    .sobre-mi{
        width: 100%;
    }
    .sobre-mi p{
        font-size: 1.2rem !important;
    }
}